* {
  background-color: #3f6358;
}

.App {
  text-align: center;
}

.intro-animation-container {
  background-image: url('https://cdn.dribbble.com/users/25514/screenshots/3824773/travel_camping_animation.gif');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}