.camp-details {
  background: #3f6358;
  min-height: 100vh;
  height: 100%;
  width: stretch;
}

.looking-up {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  position: absolute;
  padding-top: 30px;
  z-index: 991;
  left: 39%;
}

.loaded-details {
  margin: auto;
  /* max-width: 86%; */
}

.home-btn {
  font-weight: bold;
  padding-top: 20px;
  margin: 0;
}

.camp-overview {
}

.camp-name-details {
  text-align: center;
  margin: 25px auto 10px;
  color: white;
}

.camp-info {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.detailed-forecasts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  background: #acdad8;
}

.detailed-forecasts h1 {
  background: #fff;
  height: 120%;
  margin: 0;
}


.weather-color-0 {
  background: #f9c67f;
}

.weather-color-1 {
  background: #acdad9;
}

.weather-color-2 {
  background: #607067;
}

.weather-color-3 {
  background: #e9bcb0;
}

.weather-color-4 {
  background: #79c39f;
}