.suggestion-item--active {
  background-color: #fafafa;
  cursor: pointer;

}
.suggestion-item {
  background-color: #fff;
  cursor: pointer;
}

.search-container {
  float: right;
  /* height: 40px; */
}

.location-search-input {
  font-size: 2em;
  height: 44px;
  outline: none;
  max-width: 300px;
  border: none;
}

.autocomplete-dropdown-container {
  position: absolute;
  top: 40px;
  right: 0px;
}


/* 
yellow: #f9c67f
blue: #acdad9
teal: #79c39f
green: #607067
pink: #e9bcb0 
*/