.suggestion-item--active {
  backgroundColor: #fafafa;
  cursor: pointer;

}
.suggestion-item {
  backgroundColor: #fff;
  cursor: pointer;
}

.location-search-input {
  font-size: 2em;
  height: 40px;
  max-width: 300px;
}