.hikes {
  column-count: 4;
  column-gap: 5px;
}

.nearby-hikes {
  height: 120%;
  margin: 90px auto 40px;
  text-align: center;
}

.photo-container {
  width: 100%;
  height: auto;
  position: relative;
}

.hike-photo {
  width: 100%;
  height: auto;
  min-height: 200px;
}

.photo-container:hover .hike-info {
  visibility: visible;
  opacity: 1;
}

.hike-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity .2s, visibility .2s;
}

.photo-container:hover .hike-info p {
  transition: .4s;
  transform: translateY(-.5em);
}

.hike-color-0 {
  background: #f9c67f80;
}

.hike-color-1 {
  background: #acdad980;
}

.hike-color-2 {
  background: #60706780;
}

.hike-color-3 {
  background: #e9bcb080;
}

.hike-color-4 {
  background: #79c39f80;
}

@media (max-width: 500px) {
  .hikes {
    column-count: 2;
  }
}