.loading {
  box-sizing: border-box;
  object-fit: contain;
  height: stretch;
}

.gif-container {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  left: 0;
  height: 100vh;
  top: 70px;
}

.loading-message {
  z-index: 1403;
  position: fixed;
}

.loading-gif {
  width: 100%;
  height: stretch;
}

.gradient {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0), #3f6358); */
  position: absolute;
  top: 0;
  left: 0;
  width: 110vw;
  height: stretch;
  z-index: 120;
}