.campground {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.campground-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.camp-name {
  font-family: 'Dancing Script';
  font-size: 1.5em;
  margin: 10px 0 0 15px;  
}

.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img.forecast-home-icon {
  position: relative;
  right: 60px;
  top: 10px;
}

.camp-photo {
  border-radius: 12px;
  height: 50px;
}

.date {
  position: relative;
  top: 5px;
}

.forecast-icon-container {
  height: 40px;
}

.forecasts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: space-around;
  margin: 10px auto 50px;
  width: 90%;
}

.forecast-p {
  margin: 0;
}

.details-link {
  text-decoration: none;

}

.details-btn {
  color: #5a1c2a;
  font-size: 1.4em;
  font-weight: bold;
}

.details-btn:hover {
  color: #8b5762;
  transform: scale(1.02);
}

.details-btn:link {
  text-decoration: none;
  
}

.camp-color-0 {
  background: #f9c67f;
}

.camp-color-1 {
  background: #acdad9;
}

.camp-color-2 {
  background: #607067;
}

.camp-color-3 {
  background: #e9bcb0;
}

.camp-color-4 {
  background: #79c39f;
}

/* 
yellow: #f9c67f
blue: #acdad9
teal: #79c39f
green: #607067
pink: #e9bcb0 
*/