.goin-campin {
  font-size: 3em;
  padding: 20px;
}

.camps-list {
  background: #3f6358;
}

.top-bar {
  background: #fff;
  width: 100vw;
  height: 46px;
}

.logo {
  float: left;
}

.nearby-campgrounds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-around; */
  text-align: left;
}

.nearby-campgrounds h1 {
  background: #3f6358;
  color: #fff;
  height: 100%;
  margin: 0;
  text-align: center;
}

.nearby-campgrounds p {
  margin-left: 100px;
}

.bottom-bar {
  background: #fff;
  height: 46px;
}

.info-btn {
  line-height: 46px;
}



/* 
yellow: #f9c67f
blue: #acdad9
teal: #79c39f
green: #607067
pink: #e9bcb0 
*/