.goin-campin {
  font-size: 3em;
  padding: 20px;
}

.camps-list {
  margin: 0 40px;
  text-align: left;
}

.top-bar {
  background: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(156, 156, 156, .6) solid;
}

.logo-container {
  float: left;
  line-height: 84px;
  margin-left: 15px;
}

.logo {
  width: 100px;
  height: auto;
}

.nearby-campgrounds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.nearby-campgrounds h1 {
  /* background: #3f6358; */
  color: #fff;
  height: 100%;
  margin: 0;
  text-align: center;
}

.nearby-campgrounds p {
  margin-left: 100px;
}

.bottom-bar {
  background: #fff;
  height: 46px;
}

.info-btn {
  line-height: 46px;
  float: right;
}

@media (max-width: 500px) {
  .camps-list {
    margin: 0 15px;
  }
}